@import "tailwindcss";

@theme inline {
  --font-poppins: "Poppins", sans-serif;
  --color-primary: #295b86;
  --color-secondary: #132839;
  --color-accent: #ef322e;
}

body {
  font-family: var(--font-poppins);
  color: var(--foreground);
  overflow-x: hidden;
}

.wrapper {
  max-width: 1780px;
  width: 90%;
  margin-inline: auto;
}
